.body {
    background-color: #0A121F;
    display: flex;
    justify-content: space-between;
    height: 930px;
    align-items: center;
}

@media(max-width:1187px) {
    .body {
        flex-wrap:wrap;
        justify-content: center;
    }
    .right {
        padding-right: 0 !important;
    }

    .left {
        padding: 0 !important;
    }
}

.left {
    padding-left:  10%;
}

.right {
    padding-right: 10%;
}

@media(max-width:700px) {
    .left {
        padding-left: 10px;
    }
    .right {
        padding-right: 10px;
    }

    .right img {
        min-width:230px ;
        max-width: auto;
    }
}

.h5 {
    color: #3A68B8 !important;
    font-size: 18px;
padding-bottom: 10px;
}

.right img {
    min-width:400px ;
    max-width: auto;
}

.h2 {
    font-size: 55px !important;
    font-weight: 800 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
line-height: 71.5px !important;
}

.p {
    font-size: 18px !important;
    font-weight: 300 !important;

}